<script defer src="/js/editAnimals.js"></script>
{{> adminHeader}}


<div class="container">
  {{> adminNavigation}}
  <div id="animal-form-edit">
    <div class="add-animal">
      <button class='ui button primary' id='add-animal-pic'>Добавить изображения</button>
    </div>
    <h2 class="ui header">Редактировать животное</h2>

    <form action="/admin/animals/edit/{{animal._id}}" method="POST" class="ui form">
      <div class="field">
        <label>Название животного</label>
        <input type="text" name="name" placeholder="Введите название животного" value={{animal.name}}>
      </div>

      <div class="field">
        <label>Название животного по-английски</label>
        <input type="text" name="englishName" placeholder="Введите название животного (лат)"
          value={{animal.englishName}}>
      </div>

      <div class="field">
        <label>Выберите категорию</label>
        <h4>Текущая категория: {{curCategory.title}}</h4>
        <select name="categoryes">
          {{#each editCategory}}
          <option value={{this._id}} {{#if this.selected}}selected{{/if}}>
            {{this.title}}</option>
          {{/each}}
        </select>
      </div>

      <div class="field">
        <label>Описание животного</label>
        <textarea name="description" cols="30" rows="10">{{animal.description}}</textarea>
      </div>

      <div id="animal-pic" data-animal-id="{{animal._id}}">
        {{#each animal.picture}}
        <div class='image-preview'>
          <img src="{{this}}" alt="" width='150' id='preview-pic'>
          <button class='preview-close-btn' data-action='delete-preview-pic'>X</button>
        </div>
        <input type='hidden' name='picUrl' value='{{this}}'>
        {{/each}}
      </div>

      <button class="ui button primary">Сохранить</button>
    </form>
  </div>


  <div class="wrap-add-pic">
    <div class="add-animal">
      <button class='ui button primary' id='add-animal'>Редактировать животное</button>
    </div>
    <form action="/admin/animals/add-pic/{{animal._id}}" method="POST" enctype="multipart/form-data" class="ui form">
      <div class="field">
        <h2 class="ui header">Добавить изображение {{{animal.name}}}</h2>
        <label>Фото животного</label>
        <input type="file" name="filedata" multiple>
      </div>
    </form>
  </div>
</div>
