<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<script defer src="/js/admin.js"></script>
<section class="hero-inner">
  <div class="container">
    <h1 class="inner-title">{{title}}</h1>
  </div>
</section>

<div class="container">
{{> adminNavigation}}

    <h2 class="ui header">Обновите данные</h2>
    <p><a href='/admin/categories/'>&larr; Вернуться</a></p>
    <form action="/admin/editCategory" method="POST" class="ui form">
      <input type='hidden' name='categoryId' value='{{category._id}}' />
      <div class="field">
        <label>Название категории</label>
        <input type="text" name="title" value='{{category.title}}'>
      </div>

      <div class="field">
        <label>Название по-английски (для урла)</label>
        <input type="text" name="englishName" value='{{category.englishName}}'>
      </div>

      <div class="field">
        <label>Описание</label> 
        <textarea name="description" cols="30" rows="10">{{category.description}}</textarea>
      </div>
      <button class="ui button primary">Сохранить</button>
    </form>

</div>
