<section class="hero-inner">
      <div class="container">
        <h1 class="inner-title">{{category.title}}</h1>
      </div>
    </section>

    <section class="animal-types">
      <div class="container">
        <!-- Animal Types -->
        {{#if category.description}}
        <p>
          {{category.description}}
        </p>
        {{/if}}

        <div class="animal-types">
          {{#unless category.animals}}
          <p>Животных данной категории пока не завезли</p>
          {{/unless}}
              

          {{#each category.animals}}
          <div class="animal-type">
            <a href="/animals/{{this.englishName}}">

              {{#if this.mainpic}}
                <div class='img'><img src="{{this.mainpic}}" alt="" class="animal-type__img"/></div>
              {{else}}
                <img src="/img/nophoto.jpg" alt="" class="animal-type__img" />
              {{/if}}
            </a>
            <div class="animal-type__title">
              <a href="/animals/{{this.englishName}}">{{this.name}}</a>
            </div>
          </div>
          {{/each}}

        </div>
        <!-- End Animal Types -->
      </div>
    </section>